body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.chart {
  position: relative;
  width: 70vw;
  /* height: 50vh; */
  display: block;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

#last-week-charts {
  display: flex;
  /* flex-direction: /; */
  justify-content: center;
  align-items: center;
}

h2 {
  display: block;
  margin-bottom: 30px;
}

#last-month .chart{
  width: 90vw;
  margin-bottom: 30px;
}