body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.chart {
  position: relative;
  width: 70vw;
  /* height: 50vh; */
  display: block;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

#last-week-charts {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#last-week-charts .chart {
  width: 49% !important;
}
  

h2 {
  display: block;
  margin-bottom: 30px;
}

#last-month .chart{
  width: 80vw;
  margin-bottom: 70px;
}

#table-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 70px;
  width: 90vw;
  
}

.card {
  border: 1px solid black;
  width: 250px;
  height: 100px;
  position: relative;
}

.card h3 {
  position: absolute;
  top: 10px;
  left: 15px;
  margin: 0;
}

.card p {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 30px;
  /* margin-top: 10px; */
}

.card .color {
  display: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
}

#table-section > div:nth-child(odd) {
  animation: moveDown .7s ease-in-out;
}

#table-section > div:nth-child(2) {
  animation: moveUp .7s ease-in-out;
}

@keyframes moveDown {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media(max-width: 1200px) {
  #last-week-charts {
    flex-direction: column;
  }
  #last-week-charts .chart {
    margin-bottom: 30px;
    width: 80vw !important; 
  }
}

@media(max-width: 850px) {
  .chart {
    width: 90vw !important; 
    display: inline-block !important;
  }

  #table-section {
    flex-direction: column;
  }

  #table-section > div {
    margin-bottom: 30px;
  }
}