body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.chart {
  position: relative;
  width: 70vw;
  min-height: 50vh;
  display: block;
}